<!-- footer -->
{% load static %}
<footer id="footer" class="footer background-gray md-pb-70" style="direction: rtl;">
    <div class="footer-wrap">
        <div class="footer-body">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-12">
                        <div class="footer-infor">
                            <div class="footer-logo mb-3">
                                <img src="{% static 'images/logo/logo.png' %}" alt="شعار الموقع">
                            </div>
                            <ul class="list-unstyled">
                                <li><strong>اسم المؤسسة:</strong> مال</li>
                                <li><strong>المقر:</strong> الرياض، السعودية</li>
                                <li><strong>البريد الإلكتروني:</strong> info@maaal.com</li>
                            </ul>

                            <!-- Social icons -->
                            <ul class="tf-social-icon d-flex gap-10 mt-3">
                                <li><a href="#" class="box-icon w_34 round social-facebook social-line">
                                    <i class="icon fs-14 icon-fb"></i></a>
                                </li>
                                <li><a href="#" class="box-icon w_34 round social-twiter social-line">
                                    <i class="icon fs-12 icon-Icon-x"></i></a>
                                </li>
                                <li><a href="#" class="box-icon w_34 round social-instagram social-line">
                                    <i class="icon fs-14 icon-instagram"></i></a>
                                </li>
                                <li><a href="#" class="box-icon w_34 round social-tiktok social-line">
                                    <i class="icon fs-14 icon-tiktok"></i></a>
                                </li>
                                <li><a href="#" class="box-icon w_34 round social-pinterest social-line">
                                    <i class="icon fs-14 icon-pinterest-1"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->
