{% load static %}

<footer id="footer" class="footer md-pb-70 bg-black" style="direction: rtl">
    <div class="footer-wrap">
        <div class="footer-body">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-12">
                        <div class="footer-infor">
                            <div class="footer-logo mb-3">
                                <img src="{% static 'images/logo/kayan.jpg' %}" alt="شعار الموقع">
                            </div>
                            <ul class="list-unstyled">
                                <li class="link_kayan"><strong>اسم المؤسسة:</strong> Aristo Design</li>
                                <li class="link_kayan"><strong>المقر:</strong> القاهرة، مصر</li>
                                <li class="link_kayan"><strong>البريد الإلكتروني:</strong> info@aristo-design.com</li>
                            </ul>

                            <!-- Social Icons -->
                            <ul class="tf-social-icon d-flex gap-10 mt-3">
                                <li>
                                    <a href="#" class="box-icon w_34 round social-facebook social-line link_kayan">
                                        <i class="icon fs-14 icon-fb link_kayan"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="box-icon w_34 round social-twitter social-line link_kayan">
                                        <i class="icon fs-12 icon-Icon-x link_kayan"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="box-icon w_34 round social-instagram social-line link_kayan">
                                        <i class="icon fs-14 icon-instagram link_kayan"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="box-icon w_34 round social-tiktok social-line link_kayan">
                                        <i class="icon fs-14 icon-tiktok link_kayan"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="box-icon w_34 round social-pinterest social-line link_kayan">
                                        <i class="icon fs-14 icon-pinterest-1 link_kayan"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
