        <!-- Announcement Bar -->
        <div class="announcement-bar bg_primary">
            <div class="wrap-announcement-bar">
                <div class="box-sw-announcement-bar speed-1">
                    {% for announce in announcements %}
                    <div class="announcement-bar-item">
                        <p>{{ announce.title }}</p>
                    </div>
                  {% endfor %}
                </div>
            </div>
            <span class="icon-close close-announcement-bar"></span>
        </div>
        <!-- /Announcement Bar -->