{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- page-title -->
        <div class="tf-page-title">
            <div class="container-full">
                <div class="row">
                    <div class="col-12">
                        <div class="heading text-center">عن المؤسسة </div>
                        <ul class="breadcrumbs d-flex align-items-center justify-content-center">
                            <li>
                                <a href="{% url 'home_page' %}">الرئيسية</a>
                            </li>
                            <li>
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li>
                                 عن المؤسسة
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page-title -->

        <!-- blog-list -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-list-main">
                        {% include 'partials/home/_info.html' %}
                    </div>
                </div>
             <div class="col-12">
                    <div class="blog-list-main" style="direction: rtl;">
                        {% include 'partials/home/_gallery.html' with gallery=gallery %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /blog-list -->

{% endblock content %}
