{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- page-title -->
<div class="tf-page-title bg-black">
    <div class="container-full">
        <div class="row">
            <div class="col-12">
                <div class="heading text-center link_kayan">أخبارنا</div>
                <ul class="breadcrumbs d-flex align-items-center justify-content-center">
                    <li>
                        <a href="{% url 'home_page' %}" class="link_kayan">الرئيسية</a>
                    </li>
                    <li>
                        <i class="icon-arrow-right"></i>
                    </li>
                    <li>
                        أخبارنا
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /page-title -->

<!-- blog-list -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="blog-list-main">
                <div class="list-blog">
                    {% for blog in blogs %}
                    <div class="blog-article-item style-row">
                        <div class="article-thumb">
                            <a href="{% url 'blog_detail' blog.id %}">
                                <img class="lazyload" data-src="{% static 'images/blog/ksa.png' %}" src="{% static 'images/blog/ksa.png' %}" alt="img-blog">
                            </a>
                        </div>
                        <div class="article-content">
                            <div class="article-label">
                                {% if blog.category %}
                                <a href="{% url 'blogs_page' %}?cat={{ blog.category.id }}" class="tf-btn btn-sm radius-3 btn-fill animate-hover-btn">
                                    {{ blog.category.name }}
                                </a>
                                {% endif %}
                            </div>
                            <div class="article-title">
                                <a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a>
                            </div>
                            <div class="desc">
                                {{ blog.content|truncatewords:25 }}
                            </div>
                            <div class="article-btn">
                                <a href="{% url 'blog_detail' blog.id %}" class="tf-btn btn-line fw-6">
                                    Read more <i class="icon icon-arrow1-top-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <aside class="tf-section-sidebar wrap-sidebar-mobile">
                    <div class="sidebar-item sidebar-categories">
                        <div class="sidebar-title">التصنيفات</div>
                        <div class="sidebar-content">
                            <ul>
                                {% for cat in categories %}
                                <li>
                                    <a href="{% url 'blogs_page' %}?cat={{ cat.pk }}">{{ cat.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-item sidebar-post">
                        <div class="sidebar-title">نشر حديثا</div>
                        <div class="sidebar-content">
                            <ul>
                                {% for recent_blog in blogs|slice:":3" %}
                                <li>
                                    <div class="blog-article-item style-sidebar">
                                        <div class="article-thumb">
                                            <a href="{% url 'blog_detail' recent_blog.id %}">
                                                <img src="{% static 'images/blog/ksa-sea.jpg' %}" alt="">
                                            </a>
                                        </div>
                                        <div class="article-content">
                                            <div class="article-label">
                                                <a href="{% url 'blog_detail' recent_blog.id %}" class="tf-btn btn-sm radius-3 btn-fill animate-hover-btn">
                                                    {{ recent_blog.category.name }}
                                                </a>
                                            </div>
                                            <div class="article-title">
                                                <a href="{% url 'blog_detail' recent_blog.id %}">{{ recent_blog.title }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- /blog-list -->

{% endblock content %}
