{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- page-title -->
        <div class="tf-page-title bg-black">
            <div class="container-full">
                <div class="row">
                    <div class="col-12">
                        <div class="heading text-center link_kayan">أعمالنا</div>
                        <ul class="breadcrumbs d-flex align-items-center justify-content-center">
                            <li>
                                <a class="link_kayan" href="{% url 'home_page' %}">الرئيسية</a>
                            </li>
                            <li>
                                <i class="icon-arrow-right"></i>
                            </li>
                            <li class="link_kayan">
                                أعمالنا
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page-title -->

{% include 'partials/home/_projects.html' with view_more=False %}
{% include 'partials/home/_contact.html' %}
{% endblock %}
