{% load static %}
<!-- مؤسسة مال - تعريف -->
<style>
    .tf-img-with-text .tf-image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 30rem;
}
</style>
<section class="flat-spacing-19 pt_0 pb_0"  style="direction: rtl;">
    <div class="container">
        <div class="tf-grid-layout bg_e7e4df gap-0 rounded-0 md-col-2 tf-img-with-text style-3">
            
            <!-- Content -->
            <div class="tf-content-wrap text-end">
                <div>
                    <h2 class="heading wow fadeInUp" data-wow-delay="0s">مؤسسة مال <br> للإعلام والإعلان</h2>
                    <p class="description text_black-2 wow fadeInUp" data-wow-delay="0s">
                        مؤسسة إعلامية متخصصة في تقديم خدمات دعائية وإنتاج محتوى إعلامي احترافي.<br>
                        نساهم في تعزيز الهوية البصرية وتحقيق التأثير المطلوب من خلال حلول إعلامية مبتكرة.
                    </p>
                    <a href="#" class="tf-btn btn-line">
                        تعرف على خدماتنا <i class="icon icon-arrow1-top-left"></i>
                    </a>
                </div>
            </div>

            <!-- Image -->
            <div class="tf-image-wrap">
                <img class="lazyload" data-src="{% static 'images/logo/logo.png' %}" src="{% static 'images/logo/logo.png' %}" alt="مؤسسة مال">
            </div>

        </div>
    </div>
</section>
<!-- /مؤسسة مال -->
