{% load static %}

<style>
    .tf-img-with-text .tf-image-wrap img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 30rem;
    }
</style>

<section class="flat-spacing-19 pt_0 pb_2">
    <div class="container">
        <div class="tf-grid-layout gap-0 rounded-0 md-col-2 tf-img-with-text style-3" style="background-color: #ff7900;direction: rtl">

            <!-- Content -->
            <div class="tf-content-wrap text-end">
                <div>
                    <h2 class="heading wow fadeInUp" data-wow-delay="0s">
                        كيان للأنشاءات<br>
                        شركة تشطيب شقق و فيلات
                    </h2>
                    <p class="description text_black-2 wow fadeInUp" data-wow-delay="0s">
                        نقدم خدمات التشطيب والديكور المتكاملة بمستوى احترافي يتناسب مع ذوقك واحتياجاتك.<br>
                        نتميز بتقديم تصاميم عصرية، تنفيذ دقيق، وجودة عالية في كل مشروع.
                    </p>
                    <a href="{% url 'about_page' %}" class="tf-btn btn-line">
                        تعرف على خدماتنا <i class="icon icon-arrow1-top-left"></i>
                    </a>
                </div>
            </div>

            <!-- Image -->
            <div class="tf-image-wrap">
                <img class="lazyload" data-src="{% static 'images/logo/logo.png' %}" src="{% static 'images/logo/alaa.png' %}" alt="أريستو ديزاين">
            </div>

        </div>
    </div>
</section>
