{% load static %}
<!-- Slider -->
<section class="tf-slideshow slideshow-effect slider-effect-fade position-relative">
    <div class="swiper tf-sw-effect">
        <div class="swiper-wrapper">

            <!-- Slide 1 -->
            <div class="swiper-slide" lazy="true">
                <div class="slider-effect wrap-slider">
                    <div class="content-left">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="box-content text-end">
                                        <h1 class="heading fade-item fade-item-1"  style="direction: rtl;">مؤسسة مال <br> خبرة إعلامية متكاملة</h1>
                                        <p class="desc fade-item fade-item-2"  style="direction: rtl;">نقدم خدمات دعائية وإنتاج إعلامي باحترافية عالية.</p>
                                        <a  href="{% url 'blogs_page' %}" class="fade-item fade-item-3 tf-btn btn-light-icon animate-hover-btn btn-xl radius-3">
                                            <span>اعرف المزيد</span><i class="icon icon-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="img-slider">
                        <img class="lazyload" data-src="{% static 'images/blog/ksa-sea.jpg' %}" src="{% static 'images/blog/ksa-sea.jpg' %}" alt="مؤسسة مال">
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="swiper-slide" lazy="true">
                <div class="slider-effect wrap-slider">
                    <div class="content-left">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="box-content text-end">
                                        <h1 class="heading fade-item fade-item-1"  style="direction: rtl;">نرسم هوية <br>علامتك التجارية</h1>
                                        <p class="desc fade-item fade-item-2"  style="direction: rtl;">تصميم، محتوى، وإعلان رقمي يصل برسالتك للجمهور المناسب.</p>
                                        <a   href="{% url 'about_page' %}" class="fade-item fade-item-3 tf-btn btn-light-icon animate-hover-btn btn-xl radius-3">
                                            <span>خدماتنا</span><i class="icon icon-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="img-slider">
                        <img class="lazyload" data-src="{% static 'images/blog/ksa.png' %}" src="{% static 'images/blog/ksa.png' %}" alt="هوية العلامة">
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="swiper-slide" lazy="true">
                <div class="slider-effect wrap-slider">
                    <div class="content-left">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="box-content text-end"  style="direction: rtl;">
                                        <h1 class="heading fade-item fade-item-1" style="direction: rtl;">إنتاج إعلامي <br> بصوت وصورة</h1>
                                        <p class="desc fade-item fade-item-2"  style="direction: rtl;">فيديوهات دعائية، تصوير احترافي، وتغطيات إعلامية.</p>
                                        <a  href="{% url 'blogs_page' %}" class="fade-item fade-item-3 tf-btn btn-light-icon animate-hover-btn btn-xl radius-3">
                                            <span>اعرض مشاريعنا</span><i class="icon icon-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="img-slider">
                        <img class="lazyload" data-src="{% static 'images/blog/ksa22.jpg' %}" src="{% static 'images/blog/ksa22.jpg' %}" alt="إنتاج إعلامي">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Pagination -->
    <div class="wrap-pagination">
        <div class="container">
            <div class="sw-dots style-2 sw-pagination-slider"></div>
        </div>
    </div>
</section>
<!-- /Slider -->
